body {
  font: 16px Tahoma;
}

h1 {
  width: 800px;
  text-align: center;
  font-size: 30px;
}

table, th, td {
  border: 1px solid #999;
  padding: 5px 10px;
}
div.month {
  width: 800px
}
table {
  border-collapse: collapse;
  width: 800px;
}
td, th {
  width: 100px;
}

th {
  height: 40px;
  font-size: 16px;
}
th.mon, th.tue, th.wed, th.thu, th.fri {
  background-color: #ddd;
  color: #888;
}

td {
  height: 90px;
  position: relative;
}
td .day {
  position: absolute;
  top: 5px;
  right: 5px;
  font-weight: bold;
  font-size: 16px;
  color: #bbb;
}
td .name {
  display: block;
  margin-top: 2em;
  font-size: 15px;
  color: #444;
}
